/*index.html*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#b7e9fd;
    color:  #000;
    padding: 10px;
    width: 100%;
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    
}

.top-menu li {
    display: inline-block;
    margin-right: 20px;
}

.top-menu a {
    text-decoration: none;
    color:  #000;
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6e6ff;
    box-shadow: 0 8px 16px  #333;
    z-index: 1;
    margin: auto;
    padding-top: 20px;
    
}

.dropdown-content li{
    margin-bottom: 10px;
    white-space: nowrap;
    color: rgb(69, 102, 163);
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: auto;
}

#menu {
    position: fixed;
    width: 100%;
}

main{
    padding-top: 30px;
    padding-left: 20px;

}

/* Cores suaves e neutras */
body {
  background-color: #f0f0f0; /* Cinza claro ou outra cor suave de sua escolha */
}

/* Texto em cores neutras */
p {
  color: #333; /* Cinza escuro ou outra cor neutra de sua escolha */
}

/* Links em azul suave */
a {
  color: #3498db; /* Azul suave ou outra cor de link suave de sua escolha */
}

/* Botões em verde suave */
.button {
  background-color: #2ecc71; /* Verde suave ou outra cor de botão de sua escolha */
  color: #fff; /* Texto branco para contraste */
}

/* Contraste entre texto e fundo */
h1, h2, h3, h4, h5, h6 {
  color: #000; /* Texto preto em fundo claro para melhor contraste */
}

/* Bordas e linhas em tons mais escuros para definir elementos */
.container {
  border: 1px solid #ccc; /* Borda cinza para definição */
}

/* Pseudo-classes para interações de link */
a:hover {
  color: #1f618d; /* Tom mais escuro de azul ao passar o mouse sobre links */
}

/* Adapte as cores conforme necessário, mantendo a consistência no design. */
